body {
    border: 0;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
    padding: 10px 0 30px;
    align-items: center;

    img {
        width: 15%;
    }

    nav {
        display: flex;

        li {
            list-style-type: none;
            margin: 8px;
            padding: 10px 10px 10px 10px;
            border-radius: 5px;

            a {
                text-decoration: none;
                color: white;
                font-family: 'Raleway',
                    sans-serif;
            }

            &:nth-child(2) {
                background: #F57F17;
                font-weight: 600;
            }
        }
    }
}

h1 {
    font-family: 'Playfair Display',
        serif;
    text-align: center;
    color: #F57F17;
    font-size: 50px;
    margin: 20px;
}

hr {
    border-color: #aec8f5;
    width: 68%;
}

.container {
    display: grid;
    justify-content: center;
    grid-template-columns: 24.39% 24.39% 24.39%;
    grid-template-rows: 200px 200px 200px 270px;
    grid-gap: 15px;
    margin: 5%;

    img {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .item {
        background-color: #F57F17;

        & img:hover {
            filter: opacity(0.4);
        }

        &:nth-child(2) {
            grid-area: 1/2/4;
        }

        &:nth-child(8) {
            grid-area: 4/1/4/3;
        }

        img {
            object-fit: cover;
        }
    }
}

footer {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Raleway',
        sans-serif;
    ;
    padding: 30px;
    color: white;

    span {
        color: #F57F17;
        font-weight: bold;
    }

    img {
        width: 35px;
        margin: 7px;
    }
}